<h1>Hechos de violencia</h1>
<p>
  Estos hechos de violencias se perpetraron en Argentina contra personas LGBT+ en 2019.
</p>
<p>
  Si conocés alguno que no esté, escribinos a <a href="mailto:contacto@agenciapresentes.org" target="_blank">contacto@agenciapresentes.org</a>
</p>
{{presentes-tablas/casos-publicos}}
{{outlet}}
