<h1>Hechos de violencia</h1>
{{#tiene-permiso permiso="casos.puede_crear"}}
  {{presentes-ui/boton  icono="fas fa-plus" texto="Crear" accion=(transition-to "app.casos.crear") primario=true}}
{{/tiene-permiso}}
{{presentes-tablas/casos}}
{{outlet}}
