<h1>Hechos de violencia</h1>
<p>
  En este mapa documentamos los hechos de violencias contra personas LGBT+ en Argentina desde 2019 hasta nuestros días.
</p>
<p>
  Si conocés alguno que no esté, escribinos a <a href="mailto:contacto@agenciapresentes.org" target="_blank">contacto@agenciapresentes.org</a>
</p>
{{#tiene-permiso permiso="casos.puede_crear"}}
  {{presentes-ui/boton  icono="fas fa-plus" texto="Crear" accion=(transition-to "app.casos.crear") primario=true}}
{{/tiene-permiso}}
{{presentes-tablas/casos}}
{{outlet}}
