<h1>Hechos de violencia</h1>
<p>
  Estos hechos de violencias se perpetraron en Argentina contra personas LGBT+ en 2019.
</p>
<p>
  Si conocés alguno que no esté, escribinos a <a href="mailto:contacto@agenciapresentes.org" target="_blank">contacto@agenciapresentes.org</a>
</p>
{{#tiene-permiso permiso="casos.puede_crear"}}
  {{presentes-ui/boton  icono="fas fa-plus" texto="Crear" accion=(transition-to "app.casos.crear") primario=true}}
{{/tiene-permiso}}
{{presentes-tablas/casos}}
{{outlet}}
