<h1 class="">
  Elecciones Argentina 2019: candidates LGBTI+
</h1>
{{candidates-2019 model=model}}
<div class="w-100 nota-candidates">
  <p>
    Luego de las Primarias Abiertas, Simultáneas y Obligatorias (Paso) 2019, Presentes realizó un relevamiento de candidatxs del colectivo LGBTI+ en todo el país que competían para distintos cargos en las elecciones generales. Surgió una nómina de 21 candidaturas de personas LGBTI+ visibles (puede haber más que no aparezcan en registros mediáticos como parte del colectivo). De esas 21, sólo tres ocuparán cargos: Maximiliano Ferraro (diputado nacional de Juntos Por el Cambio); Carolina Pedelacq (Concejala de San Martín, Frente de Todos) y Leonardo Grosso (Diputado Nacional, Frente de Todos).
  </p>
  <h4>
    ¿Candidaturas simbólicas?
  </h4>
  <p>
    Entonces ¿cuál es el compromiso o la intención real de los frentes partidarios al construir políticamente espacios con personas LGBTI+ cuando los datos previos indican que las candidaturas en la mayoría de los casos son simbólicas? Porque las chances concretas de ocupar un lugar de poder se ven reducidas al ubicar esos nombres al final de las boletas, o bajo el subtítulo de suplentes.
  </p>
  <p>
    A pesar de que Argentina tiene leyes como matrimonio igualitario e identidad de género, y uno de los movimientos de diversidad sexual más potentes de la región: “¿por qué no figuran esos cuadros entre los primeros lugares en el cierre de listas?, se preguntaba hace dos años la periodista y poeta Gabriela Borrelli Azara. “¿Por qué el más vivo de los movimientos políticos junto al feminismo ( porque se contienen mutuamente) no lleva más gays, lesbianas y trans a las listas de los principales partidos políticos?”.
  </p>
  <h4>
    El contexto latinoamericano
  </h4>
  <p>
    Se calcula que más de 70 personas LGBTI ocupaban cargos electos y de gobierno en América Latina en 2017, según estimaron en el <a href="http://agenciapresentes.org/2017/04/04/avance-de-politicos-lgbti-en-america-latina-y-el-caribe/" target="_blank">III Encuentro de Liderazgos Políticos LGBTI para América Latina y el Caribe</a>. “Hoy el número de personas abiertamente lesbianas, gays, bisexuales, transexuales e intersex en cargos está creciendo vertiginosamente”- dijeron entonces lxs organizadorxs-. “Hace cinco años, se podían contar con los dedos. Estos liderazgos están en la primera línea en la lucha por la igualdad”.
  </p>
  <p>
    En 2018 Brasil celebró elecciones con un avance descomunal de la derecha pero también con un <a href="http://agenciapresentes.org/2018/09/25/elecciones-en-brasil-con-record-de-candidatxs-travestis-y-trans/" target="_blank">récord de candidaturas de personas travestis y trans</a>. Fue el mismo año en que asesinaron a <a href="http://agenciapresentes.org/2018/03/15/brasil-asesinaron-marielle-franco-concejala-feminista-afro-lesbiana/" target="_blank">Marielle Franco, la concejala lesbiana, feminista y afro</a>. Marielle a su vez fue impulsora de la candidatura de <a href="http://agenciapresentes.org/2019/01/01/somos-la-semilla-de-marielle-franco-que-ya-broto-contra-bolsonaro/" target="_blank">Indianaire Siqueira, activista trans brasilera, que en 2017 ganó un lugar como candidata a concejala suplente de Rio de Janeiro</a>.
  </p>
</div>
