<h1 class="">
  Candidates Argentina 2023
</h1>
<div class="w-50">
  <p>
    Este relevamiento está abierto y en construcción. Si conoces candidates que aún no forman parte de nuestra investigación sobre Elecciones 2023 en Argentina, escribinos a <a href="mailto:contacto@agenciapresentes.org">contacto@agenciapresentes.org</a> colocando en el asunto del mail: CANDIDATES 2023 ARGENTINA. ¡Muchas gracias!
  </p>
</div>
{{candidates-2023 model=model}}
<div class="w-100 nota-candidates">
</div>
