<h1>Organizaciones</h1>
<p>
  Este es un listado de organizaciones de derechos humanos que trabajan con temas de diversidad sexual en Argentina.
</p>
<p>
  Si sos activista y querés sumar una organización escribinos a <a href="mailto:contacto@agenciapresentes.org" target="_blank">contacto@agenciapresentes.org</a>
</p>
{{presentes-tablas/organizaciones}}
{{outlet}}
