<div class="tc w-100">
  {{!-- <img src="/imagenes/banner-todes-contra-las-violencias.jpg" alt="Presentes, todes contra las violencias" height=500 class="tc"> --}}
  <img src="/imagenes/banner-placeholder.jpeg" alt="Presentes, todes contra las violencias" height=500 class="tc">
</div>
