<div class="tc w-100 mt4 mb4 absolute absolute--full-width">
  <img src="/imagenes/banner-home.jpg" alt="Presentes. Mapeo periodístico crímenes de odio contra LGBT+" class="tc">
  <div class="w-90 f4 center tl">
    <p class="f5">
      2019 arrancó con un récord de violencias hacia personas LGBT+ en Argentina. Desde Agencia Presentes estamos mapeando periodísticamente estos crímenes de odio para sistematizar la información y facilitar su visibilidad.
    </p>
    <p class="f5">
      Comunicar esta problemática con un método de chequeo de datos nos parece clave para luchar contra la desinformación de estas violencias de derechos humanos.
    </p>
    <p class="f5">
      Si tenés datos o denuncias de ataques o asesinatos en tu barrio, localidad o provincia escribinos a <a href="mailto:contacto@agenciapresentes.org" target="_blank">contacto@agenciapresentes.org</a>
    </p>
  </div>
</div>
