{{#if (or (media 'isDesktop') (media 'isNetbook'))}}
  <div class="referencias pb2">
    {{#if homeLink}}
      {{#link-to 'app'}}<img src="/imagenes/presentes-logo.png" width=auto height=32 alt="" class='mb2'>{{/link-to}}
    {{else}}
      <img src="/imagenes/presentes-logo.png" width=auto height=32 alt="" class='mb2'>
    {{/if}}
    <div class="ml3 mb2 tl f5 asap">
      Año:
      {{#link-to ruta (query-params anio="2019") class="dark-gray link"}}2019{{/link-to}} |
      {{#link-to ruta (query-params anio="2020") class="dark-gray link"}}2020{{/link-to}}
    </div>
    {{#link-to ruta (query-params categoria="") class="db ml3 mr3 pv2 black asap f5 link"}}
      <img class="v-base" height=13 src="/markers/gray-marker.png"> Todas las categorias
    {{/link-to}}
    {{#link-to ruta (query-params categoria="Ataques a personas") class="db ml3 mr3 pv2 black asap f5 link"}}
      <img class="v-base" height=13 src="/markers/red-marker.png"> Ataques a personas
    {{/link-to}}
    {{#link-to ruta (query-params categoria="Muerte por travesticidio social") class="db ml3 mr3 pv2 black asap f5 link"}}
      <img class="v-base" height=13 src="/markers/yellow-marker.png"> Muerte por travesticidio social
    {{/link-to}}
    {{#link-to ruta (query-params categoria="Asesinatos") class="db ml3 mr3 pv2 black asap f5 link"}}
      <img class="v-base" height=13 src="/markers/light-blue-marker.png"> Asesinatos
    {{/link-to}}
    {{#link-to ruta (query-params categoria="Ataques a lugares") class="db ml3 mr3 pv2 black asap f5 link"}}
      <img class="v-base" height=13 src="/markers/pink-marker.png"> Ataques a lugares
    {{/link-to}}
  </div>
{{/if}}
{{#leaflet-map lat=latitud lng=longitud zoom=zoom}}
  {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png"}} --}}
  {{tile-layer url="https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png?lang=es" attribution="Wikimedia maps | Map data &copy; <a href='https://openstreetmap.org/copyright'>OpenStreetMap contributors</a>"}}
    {{#each model.data as |m|}}
      {{#marker-layer lat=m.latitud lng=m.longitud onClick=(action "accionDePrueba" m) icon=(category-icon m.categoria) as |marker|}}
        {{presentes-ui/mapa-popup
          nombre=m.nombreCompleto
          fecha=m.fechaDelHecho
          calle=m.calle
          localidad=m.localidad
          provincia=m.provincia
          id=m.id
          ficha=true
          nota=m.linkDeNota
          categoria=m.categoria
          copete=m.copete
          modelo=m
          imagen=m.imagen_url
          edad=m.edad
        }}
      {{/marker-layer}}
    {{/each}}
{{/leaflet-map}}
