{{#if (or (media 'isDesktop') (media 'isNetbook'))}}
  <div class="referencias pb2">
    {{#if homeLink}}
      {{#link-to 'app'}}<img src="/imagenes/presentes-logo.png" width=auto height=32 alt="" class='mb2'>{{/link-to}}
    {{else}}
      <img src="/imagenes/presentes-logo.png" width=auto height=32 alt="" class='mb2'>
    {{/if}}
    <p class="ml3 mr3 asap f5"><img class="v-base" height=13 src="/markers/red-marker.png"> Ataques a personas</p>
    <p class="ml3 mr3 asap f5"><img class="v-base" height=13 src="/markers/yellow-marker.png"> Muerte por travesticidio social</p>
    <p class="ml3 mr3 asap f5"><img class="v-base" height=13 src="/markers/light-blue-marker.png"> Asesinatos a personas LGBT+</p>
    <p class="ml3 mr3 asap f5"><img class="v-base" height=13 src="/markers/pink-marker.png"> Ataques a lugares</p>
  </div>
{{/if}}
{{#leaflet-map lat=latitud lng=longitud zoom=zoom}}
  {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png"}} --}}
  {{tile-layer url="https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png?lang=es" attribution="Wikimedia maps | Map data &copy; <a href='https://openstreetmap.org/copyright'>OpenStreetMap contributors</a>"}}
    {{#each model.data as |m|}}
      {{#marker-layer lat=m.latitud lng=m.longitud onClick=(action "accionDePrueba" m) icon=(category-icon m.categoria) as |marker|}}
        {{presentes-ui/mapa-popup
          nombre=m.nombreCompleto
          fecha=m.fechaDelHecho
          calle=m.calle
          localidad=m.localidad
          provincia=m.provincia
          id=m.id
          ficha=true
          nota=m.linkDeNota
          categoria=m.categoria
          copete=m.copete
          modelo=m
          imagen=m.imagen_url
          edad=m.edad
        }}
      {{/marker-layer}}
    {{/each}}
{{/leaflet-map}}
