<h1>Organizaciones</h1>
{{#tiene-permiso permiso="casos.puede_crear"}}
  {{presentes-ui/boton  icono="fas fa-plus" texto="Crear" accion=(transition-to "app.organizaciones.crear") primario=true}}
{{/tiene-permiso}}
{{presentes-tablas/organizaciones}}
{{outlet}}
