<div class="flex flex-column vh-100">
  <div>
    {{presentes-ui/header}}
  </div>

  <div class="pa2 asap center flex1 overflow-y-scroll w-100">
    <div class="mw9 center">
      {{outlet}}
    </div>
  </div>
  <footer class="tr bg-near-black h2 pr3 pt0">
      <img class="v-mid tl h2 fl" src="/imagenes/colores.png" alt="Enjambre Bit SRL">
      <p class="mt1">
  			<span class="light-gray f6 roboto">Desarrollado por </span>
        <a href="http://www.enjambrebit.com.ar/" target="_blank" title="Enjambre Bit SRL">
  				<img class="v-mid" src="/imagenes/enjambrebit_logotipo.png" alt="Enjambre Bit SRL">
  			</a>
      </p>
  </footer>
</div>
