<div class="flex flex-column vh-100">
  <div>
    {{presentes-ui/header}}
  </div>

  <div class="pa2 roboto center flex1 overflow-y-scroll w-100">
    <div class="mw9 center">
      {{outlet}}
    </div>
  </div>
</div>
