<div class="flex flex-column vh-100">
  <div>
    {{presentes-ui/header-candidates-2023}}
  </div>

  <div class="pa2 asap center flex1 overflow-y-scroll w-100">
    <div class="mw9 center">
      {{outlet}}
    </div>
  </div>

  {{presentes-ui/footer}}
</div>
